@import url('https://fonts.googleapis.com/css?family=Wendy+One');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.hello {
	color: #ff7e00;
	text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	text-align: center;
	font-family: 'Wendy One', sans-serif;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 100vh;
}

.hello h1 {
	font-size: 4rem;
	text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	margin: 0;
}
button {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 40px;
  min-width: 50px;
  margin-bottom: 20px;
  background-color: #ff7e00;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  border: none;
  
}

.increment, .decrement {
	border-radius: 100%;
	text-shadow: none;
	color: #8946ca;
}

.increment:focus, .decrement:focus {
	outline: none;
}

.increment:hover, .decrement:hover {
	background-color: #ee6d00;
}


 a {
	text-decoration: none;
 }


.begin {
	border: none;
}

.begin:hover {
	background-color: #ee6d00;
}
.begin a {
	color: #8946ca;
	text-shadow: none;
}
 






 

