.carousel-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1600px;
	z-index: 10000;
	background: url('../images/background.jpg');
	background-size: cover;
	background-position: bottom;
	color: #ff7e00;
}

.info {
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 5px;
	text-align: center;
}

  
.header {
	width: 375px;
}

.slick-slide img {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	max-height: 280px;
}

.slick-slide h4 {
	text-align: center;
	margin-top: 0px;
	font-family: 'Wendy One', sans-serif;
	text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.slick-prev, .slick-next {
	z-index: 10001;
	top: 95%;
}


.slick-prev:before, .slick-next:before {
    font-size: 40px!important;
	color: #ff7e00!important;
	text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.slick-prev {
	left: 25px!important;
}

.slick-next {
	right: 25px!important;
}

.arrowContainer {
	display: flex;
	justify-content: space-between;
	
}
.arrows {
	background: #ff7e00;
	height: 50px;
	font-family: 'Wendy One', sans-serif;
}

.arrows:hover{
	background-color: #ee6d00;
}

@media (min-width: 768px) {
	.header {
		width: 640px;
	}
	.slick-slide img {
		max-height: 480px;
	}
	.slick-prev {
		left: 0!important;
	}
	
	.slick-next {
		right: 0!important;
	}
	
	.info {
		width: 60%;
	}
	.carousel-background {
		height: 2400px;
	}
	.slick-prev, .slick-next {
		top: 50%;
	}
}

