.main {	
	display: block;
	margin: 0 auto;
}
.main h1 {
	font-size: 2rem;
	color: #ff7e00;
	text-align: center;
	font-family: 'Gamja Flower', cursive;
	text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	margin-bottom: 0;
}
.main h6 {
	text-align: right;
	margin: 0;
	color: #ff7e00;
	font-family: 'Gamja Flower', cursive;
	text-shadow: 4px 4px 8px rgba(0,0,0,0.5);	
	margin-bottom: 10px;
}
 
.main p {
	color: #ff7e00;
	padding: 5px;
	font-size: 22px;
}
.squares {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.square, a, .square img {
	width: calc(600px / 5);
	height: calc(450px / 5);
}

.square h5 {
	text-align: center;
	font-family: 'Gamja Flower', cursive;
	text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
 }


.side-a, .side-b {
	color: #ff7e00;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.square {
	background-color: #8946ca;
	transition: transform 1.5s cubic-bezier(0.55, -0.62, 0.27, 1.2);
	transform-style: preserve-3d; 
}
  
.square:hover {
	transform: rotate3d(0, 1, 0, 900deg); 
}  
  
.side-a, .side-b {
	backface-visibility: hidden; 
}

.side-b {
	transform: rotateY(180deg); 
} 


@media (min-width: 512px) {
	.main {
		margin-top: 0;
		width: 80%;
	}
	.main h1 {
		font-size: 3rem;
	}	
	.square, a, .square img {
		width: calc(600px / 4);
		height: calc(450px / 4);
	}
}

@media (min-width: 768px) {
	.main {
		width: 50%;
	}
	.main h1 {
		font-size: 4rem;
	}	
	.square, a, .square img {
		width: calc(600px / 3);
		height: calc(450px / 3);
	}
}
