.main {	
	display: block;
	margin: 0 auto;
}
.main h1 {
	font-size: 2rem;
	color: #ff7e00;
	text-align: center;
	font-family: 'Wendy One', sans-serif;
	text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	margin-bottom: 0;
}
.main h6 {
	text-align: right;
	margin: 0 10px 10px 0;
	color: #ff7e00;
	font-family: 'Wendy One', sans-serif;
	text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}
 
.main p {
	color: #ff7e00;
	padding: 5px;
	font-size: 22px;
}
.squares {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.mainParagraph {
	display: block;
    margin: 0 auto;
    padding: 20px;
}

.mainParagraph img {
    max-height: 300px;
    float: right;
    padding: 20px;
}
@media (min-width: 512px) {
	.main {
		margin-top: 0;
	}
	.main h1 {
		font-size: 3rem;
	}	
}

@media (min-width: 768px) {
	.main h1 {
		font-size: 4rem;
	}	

}

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
	position: relative;
	width: 300px;
    height: 200px;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
	box-shadow: 0 0 1px #000;
	font-size: 18px;
	margin-top: 50px;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000;
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(255,126,0, 0.8); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}