@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.debug {
	border: 2px solid red;
}

body {
	background: url('./background.jpg');
	background-size: cover;
	background-position: center;
	font-size: 2rem;
}

.hello {
	color: orange;
	text-align: center;
	font-family: 'Gamja Flower', cursive;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 100vh;
}

.hello h1 {
	font-size: 4rem;
}
button {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 40px;
  min-width: 50px;
  margin-bottom: 20px;
  background-color: orange;
}
 a {
	text-decoration: none;
 }


/* Main.tsx 
 * ---------------------*/
 
 .main {
	width: 60%;
	display: block;
	margin: 0 auto;
 }
 .main h1 {
	font-size: 4rem;
	color: orange;
	text-align: center;
	font-family: 'Gamja Flower', cursive;
 }
 
 .squares {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
 }

 .square {
	width: calc(600px / 3);
	height: calc(450px / 3);
	background-color: green;
	margin: 10px;
 }


.carousel-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background: black;
	color: white;
}




